.todo-form {
    margin-bottom: 32px;
}

.todo-input {
    padding: 14px 32px;
    border-radius: 5px 0 0 5px;
    border: 2px solid #5d0cff;
    outline: none;
    width: 300px;
    background: transparent;
    color: #fff;
}

.todo-input::placeholder {
    color: #e2e2e2;
}

.todo-button {
    padding: 16px;
    border: none;
    border-radius: 0 5px 5px 0;
    outline: none;
    cursor: pointer;
    background: linear-gradient(
        90deg,
        rgba(93, 12, 255, 1) 0%
        rgba(155, 0, 250, 1) 100%
    );
    text-transform: capitalize;
}

.todo-input.edit {
    border: 2px solid #149fff;
}

.todo-button.edit {
    background: linear-gradient(
        90deg,
        rgba(20, 159, 255, 1) 0%
        rgba(17, 122, 255, 1) 100%
    );
    padding: 10px;
}